################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FCG.TechChallenge.Jogos/CopilotIndices/17.14.1147.5054/CodeChunks.db
/.vs/FCG.TechChallenge.Jogos/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
/.vs/FCG.TechChallenge.Jogos/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
/.vs/FCG.TechChallenge.Jogos/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
/.vs/FCG.TechChallenge.Jogos/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
/.vs/FCG.TechChallenge.Jogos/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
/.vs/FCG.TechChallenge.Jogos/FileContentIndex/1e2d48e6-8900-4656-b57e-6f5fd6267def.vsidx
/.vs/FCG.TechChallenge.Jogos/FileContentIndex/72c49ef3-25f8-402d-a07b-f67384a6c519.vsidx
/.vs/FCG.TechChallenge.Jogos/FileContentIndex/928e1f11-6c60-4244-8db6-f05ba4165910.vsidx
/.vs/FCG.TechChallenge.Jogos/FileContentIndex/cc10daa8-f68c-4145-bac0-5770a6a01aec.vsidx
/.vs/FCG.TechChallenge.Jogos/FileContentIndex/f9aee8ac-a703-4917-8d2b-ea57456d8f21.vsidx
/.vs/FCG.TechChallenge.Jogos/v17/.suo
/.vs/FCG.TechChallenge.Jogos/v17/.wsuo
/.vs/FCG.TechChallenge.Jogos/v17/DocumentLayout.backup.json
/.vs/FCG.TechChallenge.Jogos/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.deps.json
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.pdb
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.runtimeconfig.json
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/Newtonsoft.Json.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/testhost.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/testhost.exe
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.abstractions.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.assert.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.core.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.execution.dotnet.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.runner.reporters.netcoreapp10.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.runner.utility.netcoreapp10.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/bin/Debug/net9.0/xunit.runner.visualstudio.testadapter.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/ref/FCG.TechChallenge.Jogos.IntegrationTests.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/refint/FCG.TechChallenge.Jogos.IntegrationTests.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.Tech.712D31B5.Up2Date
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.AssemblyInfo.cs
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.AssemblyInfoInputs.cache
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.assets.cache
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.csproj.AssemblyReference.cache
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.csproj.CoreCompileInputs.cache
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.csproj.FileListAbsolute.txt
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.dll
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.GeneratedMSBuildEditorConfig.editorconfig
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.genruntimeconfig.cache
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.GlobalUsings.g.cs
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.pdb
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/Debug/net9.0/FCG.TechChallenge.Jogos.IntegrationTests.sourcelink.json
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/FCG.TechChallenge.Jogos.IntegrationTests.csproj.nuget.dgspec.json
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/FCG.TechChallenge.Jogos.IntegrationTests.csproj.nuget.g.props
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/FCG.TechChallenge.Jogos.IntegrationTests.csproj.nuget.g.targets
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/project.assets.json
/tests/FCG.TechChallenge.Jogos.IntegrationTests/obj/project.nuget.cache
/tests/FCG.TechChallenge.Jogos.UnitTests/bin/Debug/net9.0
/tests/FCG.TechChallenge.Jogos.UnitTests/obj
