version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: jogos-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jogos
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: jogos-azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: src/FCG.TechChallenge.Jogos.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      # Banco de dados PostgreSQL
      ConnectionStrings__Postgres: "Host=postgres;Port=5432;Database=jogos;Username=postgres;Password=postgres"

      # ASP.NET Core
      ASPNETCORE_URLS: "http://+:8080"

      # Azure Service Bus (Options Pattern → ServiceBusOptions)
      ServiceBus__ConnectionString: ${ServiceBusConn}
      ServiceBus__QueueName: "jogos-outbox"
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - postgres
      - azurite
    restart: unless-stopped

  functions:
    build:
      context: .
      dockerfile: src/FCG.TechChallenge.Jogos.Functions/Dockerfile
    environment:
      AZURE_FUNCTIONS_ENVIRONMENT: Development
      # Variáveis sensíveis (lidas do .env)
      ServiceBusConn: ${ServiceBusConn}
      # AzureWebJobsStorage apontando para o container Azurite
      AzureWebJobsStorage: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;"
      FUNCTIONS_WORKER_RUNTIME: ${FUNCTIONS_WORKER_RUNTIME:-dotnet-isolated}

      # Garante que o Functions escute na porta 8080 dentro do container
      ASPNETCORE_URLS: "http://+:8080"
      
      ConnectionStrings__Postgres: "Host=postgres;Port=5432;Database=jogos;Username=postgres;Password=postgres"
    ports:
      - "7071:8080"
    depends_on:
      - postgres
      - azurite
    restart: unless-stopped
